<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>

    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>

    <main id="to-do-app">

        <p id="heading">Atask <br>
            <span>A To-do management app</span>
        </p>

        <div id="left-section">

            <form method="POST" action="create-task" autocomplete="off">

                <h2>Today</h2>

                <div id="description">

                    <p>Description</p>
                    <input name="description" type="text" id="description-box" placeholder="What do you want to do ?" onfocus="this.placeholder = ''" onblur='this.placeholder = "What do you want to do ?"' required>
    
                </div>
    
                <div id="middle-section">

                    <div id="category">
    
                        <label for="categories">Category</label>
        
                        <select name="category" id="categories" required>
        
                            <option value="choose">Choose a category</option>
                            <option value="personal">Personal</option>
                            <option value="work">Work</option>
                            <option value="home">Home</option>
                            <option value="grocery">Grocery</option>
                            <option value="Others">Others</option>
        
                        </select>
        
                    </div>
        
                    <div id="date">
    
                        <label for="date"></label>
                        <input name="date" type="date" id="datesection" required>
    
                    </div>

                </div>
    
                <div id="buttons">
    
                    <button type="submit" id="add-btn">Add task</button>
    
                </div>

            </form>

        </div>

        <div id="right-section">

            <form method="get" action="select-tasks">

                <div id="utilities">

                    <button id="delete-btn" disabled><i class="fas fa-trash"></i> &nbsp; Delete</button>
    
                </div>

                <ul>
                
                    <% for (let task of tasks) { %>
    
                        <li class="taskBar">
                            
                            <div id="task">
    
                                <!-- <i class="far fa-circle"></i> -->
                                
                                <input type="checkbox" class="myCheck" name="task" value="<%= task.description %>" onclick="checkSelected(this)">
                                
                                <div id="info">
    
                                    <span><%= task.description %></span>
                                    <span>
                                        <i class="far fa-calendar-alt"></i> &nbsp;
                                        <%= String(task.date).substring(0, 16) %>
                                    </span>
    
                                </div>
    
                                <span id="categ"> <%= task.category %>  </span>
    
                                <a id="delete" href="/delete-task/?description=<%= task.description %>&date=<%= task.data %>&category=<%= task.category %>">
                                    <i class="fas fa-times-circle"></i>
                                </a>
    
                            </div>
    
                        </li>
    
                    <% } %>
    
                </ul>

            </form>

        </div>

    </main>
    
    <script src="https://kit.fontawesome.com/8e594f6fe3.js" crossorigin="anonymous"></script>
    <script src="../assets/js/script.js"></script>
</body>
</html>